{{ define "title" }}
	{{ $langData := index .Site.Data .Site.Language.Lang }}
	{{ $data := $langData.home }}

	{{ .Site.Title }} · {{ $data.slogan.title }}
{{ end }}

{{ define "main" }}

{{ $langData := index .Site.Data .Site.Language.Lang }}
{{ $data := $langData.home }}

{{ partial "back_legacy" . }}

<script>
    //根据浏览器语言自动切换主页面
    console.log(navigator.language,navigator.browserLanguage)
    var language = navigator.appName == 'Netscape'?navigator.language:navigator.browserLanguage;
    if(language.indexOf('en') > -1) {  //english
        if(localStorage.getItem("isJudgment") == 1){
            re()
        }else{
            document.location.href = '/en/';
            localStorage.setItem("isJudgment",1)
        }
    }else{ //chinese
        if(localStorage.getItem("isJudgment") == 1){
            re()
        }else{
            document.location.href = '/';
            localStorage.setItem("isJudgment",1)
        }
    }
    function re(){
        localStorage.removeItem("isJudgment")
        return
    }
</script>

<div class="home-background -no-max-width">
	 <img src="{{ (resources.Get "/img/home/3d.gif").RelPermalink }}" />
    <!--<div id="js-home-animation"></div> -->
	<!-- <div class="gradient"></div> 
    <img src="/img/cover-light.jpg" height="2500" width="300"> -->
</div>

<div class="slogan">
	<div class="home-container">
        <h1 class="slogan-title">{{ $data.slogan.title }}</h1>
		<p class="slogan-description">
			{{ $data.slogan.description }}
		</p>

		<div class="button-groups">
			<a class="home-button -shadow" href="{{ $data.slogan.quick_start_link }}">{{ $data.slogan.quick_start_text }}</a>
			<a class="home-button -outline" href="{{ $data.slogan.github_link }}">GitHub</a>
		</div>

		<div class="feature">
			{{ range $data.feature }}

			<div class="feature-container">
				<img class="img" src="{{ (resources.Get .img).RelPermalink }}" />
				<h2 class="feature-title">{{ .title }}</h2>
				<p class="home-description">
					{{ .description }}
				</p>
			</div>
			{{ end }}
		</div>
	</div>
</div>

<div class="charpter-description">
	<div class="home-container">
		{{ range $i,$d := $data.charpter_description }}
			<div class="container">
				<div class="description-container">
					<h3 class="title">{{ $d.title }} </h3>
					<p class="home-description">
						{{ $d.description }}
					</p>
				</div>

				<div class="img-container">
					<img {{if isset $d "img_width"}}style="width:{{$d.img_width}};"{{end}}
						src="{{ (resources.Get $d.img).RelPermalink }}"
					>
				</div>
			</div>
		{{ end }}
		{{ range $i,$d := $data.charpter_description_1 }}
			<div class="container">
				<div class="description-container">
					<h3 class="title">{{ $d.title }} </h3>
					<p class="home-description">
						{{ $d.description }}
					</p>
				</div>

				<div class="img-container">
					<!-- <img {{if isset $d "img_width"}}style="width:{{$d.img_width}}"{{end}}
						src="{{ (resources.Get $d.img).RelPermalink }}"
					> -->
				</div>
			</div>
		{{ end }}
        {{ range $i,$d := $data.charpter_description_2 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                    <p class="home-description">
                        {{ $d.description }}
                    </p>
                </div>

                <div class="img-container">
                    <img {{if isset $d "img_width"}}style="width:{{$d.img_width}}"{{end}}
                        src="{{ (resources.Get $d.img).RelPermalink }}"
                    >
                </div>
            </div>
        {{ end }}
        {{ range $i,$d := $data.charpter_description_3 }}
            <div class="container">
                <div class="description-container">
                    <h3 class="title">{{ $d.title }} </h3>
                    <p class="home-description">
                        {{ $d.description }}
                    </p>
                </div>

                <div class="img-container">
                    <img {{if isset $d "img_width"}}style="width:{{$d.img_width}}"{{end}}
                        src="{{ (resources.Get $d.img).RelPermalink }}"
                    >
                </div>
            </div>
        {{ end }}

	</div>
</div>

{{ if .Site.Params.homeSubscription.enable }}
	<div class="subscription">
		<div class="home-container">
			<h2>{{ $data.subscription.title }}</h2>
			<div class="email">
				<input placeholder="Email address" type="email" />
				<button class="home-button">{{ $data.subscription.button }}</button>
			</div>
		</div>
	</div>
{{ end }}

{{ end }}
